iframe {
    height:calc(100vw * 8 / 16); // Vw --> viewport with value.
}

@media screen and(min-width: 820px) {
    #videoDetail {
        display: table;
        iframe {
            height:calc((100vw * 9 / 16)/2); // Vw --> viewport with value.
        }
    }
    
}