@import './variables';

.App {
  text-align: center;
  min-height: 100vh;
  background-color: $primary;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-link {
  color: #61dafb;
}

// Flex styles
.flex {
  display: flex;
  flex-direction: row;
  &- {
    flex: 1;
    &column {
      flex-direction: column;
    }
    &1 {
      flex: 1;
    }
    &2 {
      flex: 2;
    }
  }
  &-auto {
    flex: 1 0 auto;
  }
}

.flex {
  &.center {
    justify-content: center;

    &-center {
      align-items: center;
    }
    &-start {
      align-items: flex-start;
    }
    &-end {
      align-items: flex-end;
    }
  }

  &.start {
    justify-content: start;

    &-center {
      align-items: center;
    }
    &-start {
      align-items: flex-start;
    }
    &-end {
      align-items: flex-end;
    }
  }

  &.end {
    justify-content: end;

    &-center {
      align-items: center;
    }
    &-start {
      align-items: flex-start;
    }
    &-end {
      align-items: flex-end;
    }
  }
}

// Padding styles
.padding- {
  &1 {
      padding: 1em;
  }
}

// Margin styles
.margin- {
  &1 {
      margin: 1em;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
